---
layout: archive
---

{{ content }}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if page.lang contains 'en' %}
    {% assign filtered_tags = tag[1] | where_exp:"posts", "posts.url contains '/en/'" %}
  {% else %}
    {% assign filtered_tags = tag[1] | where_exp:"posts", "posts.url contains page.lang" %}
  {% endif %}
  {% if filtered_tags.size > tags_max %}
    {% assign tags_max = filtered_tags.size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if page.lang contains 'en' %}
        {% assign filtered_tags = tag[1] | where_exp:"posts", "posts.url contains '/en/'" %}
      {% else %}
        {% assign filtered_tags = tag[1] | where_exp:"posts", "posts.url contains page.lang" %}
      {% endif %}
      {% if filtered_tags.size == i %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if page.lang contains 'en' %}
      {% assign filtered_tags = tag[1] | where_exp:"posts", "posts.url contains '/en/'" %}
    {% else %}
      {% assign filtered_tags = tag[1] | where_exp:"posts", "posts.url contains page.lang" %}
    {% endif %}
    {% if filtered_tags.size == i %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% if page.lang contains 'en' %}
            {% assign filtered_posts = tag.last | where_exp:"posts", "posts.url contains '/en/'" %}
          {% else %}
            {% assign filtered_posts = tag.last | where_exp:"posts", "posts.url contains page.lang" %}
          {% endif %}
          {% for post in filtered_posts %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[page.lang].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
